{% extends 'base.html.twig' %}

{% block title %}Panier - Taekwonkido Phenix{% endblock %}

{% block body %}
    <div class="d-flex justify-content-end">
        <a href="{{ path('app_home') }}" class="btn btn-dark mt-3">Retour à l'accueil</a>
    </div>

    <h1>Mon panier</h1>
    Retrouver l'ensemble des produits que vous avez ajouter à votre panier

        <table class="table table-hover mt-3">
            <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

                <tr>
                    <th>
                        <img src="" alt="" height="75px"><br>
                    </th>
                    <td>
                        <br>
                        <small></small>
                    </td>
                    <td>
                        <a href="">
                            <img src="" alt="Retirer un produit" height="17px">
                        </a>

                        <a href="">
                            <img src="" alt="Ajouter un produit" height="17px">
                        </a>
                    </td>
                    <td>€</td>
                    <td>€</td>
                    <td>
                        <a href="">
                            <img src="" alt="Supprimer mon produit" height="22px"> <br>
                        </a>
                    </td>
                </tr>

            </tbody>
        </table>
        <div class="text-right mb-5">
            <b>Nombre de produit : </b> <br>
            <b>Total de mon panier : </b>  €
            <a href="{" class="btn btn-dark btn-block mt-3">Valider mon panier</a>
        </div>

        <hr>
        <p>Votre panier est vide !</p>

{% endblock %}
