{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe - Taekwonkido Phenix{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center m-3">
        <h1>Modifier mon Mot de passe</h1>
    </div>
    <a href="{{ path('app_account') }}">Retourner à mon compte</a><br>
    <hr>
    {% if notification%}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
        <div class="d-flex justify-content-center m-3">
            {{ form(form) }}
        </div>
    <hr>

{% endblock %}