{% extends 'base.html.twig' %}

{% block title %}Mon compte - Taekwonkido Phenix{% endblock %}

{% block body %}
    <h1>Adhésion au club Taekwonkido Phenix </h1>
    C'est dans cette espace que vous allez gérer le paiement au club. <br>
    <a href="{{ path('app_account') }}">Retour</a>
    <hr>



{% endblock %}