{% extends 'base.html.twig' %}

{% block title %}Suivie de l'adhésion - Taekwonkido Phenix{% endblock %}

{% block body %}
    <h1>Suivie de l'adhésion</h1>
    C'est dans cette espace que vous allez gérer le suivie de l'inscription au club Taekwonkido Phenix. <br>
    <a href="{{ path('app_account') }}">Retour</a>
    <hr>



    <table class="table table-hover bg-light">
        <thead>
        <tr>
            <th scope="col">Statut du paiement</th>
            <th scope="col">Passé le</th>
            <th scope="col">Statut de l'inscription</th>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">en attente de paiement</th>
            <td>03/06/22</td>
            <td>en attente de validation</td>
            <td>Pauline</td>
            <td>Dupont</td>
        </tr>
        <tr>
            <th scope="row">validée</th>
            <td>02/09/21</td>
            <td>validée</td>
            <td>Pauline</td>
            <td>Dupont</td>
        </tr>
        <tr>
            <th scope="row">validée</th>
            <td>05/09/20</td>
            <td>validée</td>
            <td>Pauline</td>
            <td>Dupont</td>
        </tr>
        </tbody>
    </table>

{% endblock %}