{% extends 'base.html.twig' %}

{% block title %}Albums Photos - Taekwonkido Phenix{% endblock %}


{% block body %}
    <div class="mb-4">
        <h3 style="color:{{ CategoryAlbum.color }}">{{ CategoryAlbum.name}}</h3>
    </div>
  
{% endblock %}
