<h1>Veuillez confirmez votre adresse e-mail</h1>

<p>
    Cliquer sur le lien ci-dessous :<br><br>
    <a href="{{ signedUrl }}">Confirmer mon adresse e-mail</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
