{% extends 'base.html.twig' %}

{% block title %}Inscription - Taekwonkido Phenix{% endblock %}

{% block body %}

    <div class="d-flex justify-content-center m-3">
        <h1 class="text-dark">Créer votre compte Taekwonkido Phenix </h1>
    </div>
        {% if notification %}
            <div class="alert alert-info text-center">{{ notification }}</div>
            <hr>
        {% endif %}

        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}




    <div class="d-flex justify-content-center m-5">
        {{ form(registrationForm) }}
    </div>


{% endblock %}
