{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - Taekwonkido Phenix {% endblock %}

{% block body %}

    <div class="vh-100" style="
    /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(255, 98, 21, 0.5), rgba(250, 213, 1, 0.5));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(255, 98, 21, 0.5), rgba(250, 213, 1, 0.5));
    ">
        <div class="container py-5">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <h3 class="mb-5">Réinitialiser mon mot de passe</h3>

                            <form method="post">
                                {% for message in app.flashes('notice') %}
                                    <div class="alert alert-info">{{ message }}</div>
                                {% endfor %}

                            <div class="form-outline mb-4">
                                <label for="inputEmail">Email</label>
                                <input type="email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                            </div>


                            <button class="btn btn-dark btn-lg btn-block" type="submit">Valider</button>

                            <hr class="my-4">

                                <p class="fw-bold">Ou souhaitez vous<a href="{{ path('app_login') }}"> vous connecter</a>?</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
