{% extends 'base.html.twig' %}

{% block title %}Album Photo - Taekwonkido Phenix{% endblock %}

{% block body %}
    <div class="m-5">
        <div class="mb-5">
            <h1>Présentation de Album photo</h1>
            <a href="{{ path('app_pictures') }}">Retour au menu Photo</a>
        </div>

    <h2 class="mb-4">{{ AlbumPicture.title|raw }}</h2>

        <!-- Gallery -->
        <div class="portfolio-item row">
            {% for PicturesAlbum in AlbumPicture.PicturesAlbums %}
                <div class="col-md-4">
                        <img
                                src="/upload/AlbumPicture/{{ PicturesAlbum.images }}"
                                class="mb-2 mb-md-4 shadow-1-strong rounded"
                                width="500"
                                alt="Photos de l'album"
                        />

                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
