{% extends 'base.html.twig' %}

{% block title %}Album Photo - Taekwonkido Phenix{% endblock %}

{% block body %}
    <div class="mb-4">
        <h1>Présentation de Album photo</h1>
        <a href="{{ path('app_pictures') }}">Retour au menu Photo</a>
    </div>

    <h2>{{ AlbumPicture.title|raw }}</h2>

    <!-- Gallery -->
    <div class="row">
        {% for PicturesAlbum in PicturesAlbums %}
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img
                    src="/upload/AlbumPicture/{{ AlbumPicture.id }}"
                    class="w-100 mb-2 mb-md-4 shadow-1-strong rounded"
                    alt="Photos de l'album"
            />
        </div>
        {% endfor %}
    </div>



{% endblock %}