{% extends '@EasyAdmin/page/content.html.twig' %}


{% block content %}

    <h1>Administration</h1>
    <br>
    <p>Bienvenue {{ app.user.firstname }} dans l'interface d'administration de votre site.</p>
    <br>
    <a href="{{  path('app_home') }}">Retour au site </a>
    <br>
    <hr>

    <div class="container">
        <div class="row">

        </div>
    </div>


{% endblock %}