body {
    position: relative;
    background: #fff3e0;
}

/* Header navbar */
.navbar-item, .navbar-item a {
    color: white;
    text-decoration: none;
}
.cart-icon {
    height: 25px;
    padding-left: 20px;
}

/* Carousel */
.carousel-inner img {
    width: 100%;
    height: auto;
    /*background-size: cover;
    background-position: center;*/
}

/* Account Menu */
.account-item {
    background-color: #ffcc80;
    padding: 70px;
    text-decoration: none;
}
.account-item a {
    text-transform: uppercase;
    font-size: 14px;
    color: black;
    font-weight: bold;
}
.account-item a:hover {
    color: #d50000;
    text-decoration: none;
}

/* Accordion Form Subscription */



@media screen and (max-width: 991px) and (min-width: 767px) {
    .account-item {
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 766px) {
    .account-item {
        margin: 5px;
    }

}

