{% extends 'base.html.twig' %}

{% block title %}Contact - Taekwonkido Phenix{% endblock %}

{% block body %}

    <div class="row m-5">
        <div class="col-md-6">
            {% for contact in contact %}
                <h2>{{ contact.title|raw }}</h2>
                <p>{{ contact.description|raw }}</p>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <div class="col-md-5 align-items-stretch">
                <iframe src="https://www.google.com/maps/d/embed?mid=1__ILB_e6YEN76J0myRQXsZH2yvg&ehbc=2E312F" width="740" height="580"></iframe>
            </div>
        </div>
    </div>


{% endblock %}
