{% extends 'base.html.twig' %}

{% block title %}Tags Photos - Taekwonkido Phenix{% endblock %}

{% block body %}

    <div class="mb-4">
        <h3 style="color:{{ Tag.color }}">{{ Tag.title}}</h3>
    </div>

{% endblock %}
