{% extends 'base.html.twig' %}

{% block title %}New AlbumPicture{% endblock %}

{% block body %}
    <h1>Create new AlbumPicture</h1>

    {{ include('album_picture/_form.html.twig') }}

    <a href="{{ path('app_album_picture_index') }}">back to list</a>
{% endblock %}
