{% extends 'base.html.twig' %}

{% block title %}List Events{% endblock %}

{% block body %}

    <div class="d-flex justify-content-center m-5">
        <h1 class="text-primary">{{ 'List des événements' }}</h1>
    </div>

    <div class="d-flex flex-row justify-content-around flex-wrap">
        {% for events in listEvents %}
            <div class=",card" style="width: 18rem;">
                <img class=",card-img-top" src="{{ asset('img/'~events.linkImage) }}" height="200px" alt="image">
                <div class="card-body">
                    <h5 class="card-title">{{ events.name }}</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Premier prix
                            {{ events.price }} Euros
                        </li>
                    </ul>
                    <div class="card-body">
                        <a class="btn btn-info mt-2" href="#">Add new events</a>
                        <a class="btn btn-warning mt-2" href="#">Edit events</a>
                        <a class="btn btn-danger mt-2" href="#">Delete new events</a>
                    </div>

                </div>
            </div>

        {% endfor %}

    </div>



{% endblock %}
