{% extends 'base.html.twig' %}

{% block title %}Succès - Taekwonkido Phenix{% endblock %}

{% block body %}

    <div class="container">
        <p>
            Paiement validé avec succès
        </p>
    </div>
{% endblock %}
